[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "centrifugeR"]
	path = centrifugeR
	url = https://github.com/phamdn/centrifuger
[submodule "GPIC"]
	path = GPIC
	url = https://github.com/cran/GPIC
[submodule "mbRes"]
	path = mbRes
	url = https://github.com/phamdn/mbres
[submodule "peramo"]
	path = peramo
	url = https://github.com/phamdn/peramo
